.radio-group {
	margin-bottom: 20px;
}

.radio-group-title {
	color: rgba(20, 20, 20, 0.8);
	margin-bottom: 7px;
}

.radio-input {
	margin-left: 10px;
	margin-bottom: 4px;
	cursor: pointer;

	label {
		color: rgba(30, 30, 30, 0.8);
		font-size: 0.8em;
		display: flex;
		align-items: center;
		input {
			margin-right: 4px;
		}
	}
}
