@import "../colors.scss";
@import "../mixins.scss";

.entry {
	display: flex;
	flex-flow: row nowrap;
	max-width: 220px;
	padding: 10px 16px;
	align-items: center;
	background-color: rgba(40, 40, 40, 0.1);
	margin-bottom: 5px;
	cursor: pointer;
	@include user-select(none);
	&:hover {
		background-color: rgba($banner-color, 0.3);
	}
	&:focus {
		background-color: rgba($banner-color, 0.4);
	}
	&:active {
		background-color: rgba($banner-color, 0.5);
	}
}

.choice-wrapper {
	width: 26px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-right: 20px;
	font-size: 0.7em;
	color: rgba(20, 20, 20, 0.8);
	.material-icons {
		font-size: 1.1em;
	}
	p {
		text-transform: capitalize;
	}
}

.timestamp-wrapper {
	margin-left: auto;
	color: rgba(0, 0, 0, 0.7);
	p {
		font-size: 0.7em;
	}
}
