@import "../colors.scss";
@import "../mixins.scss";

.page-number {
	height: 30px;
	width: 30px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	@include user-select(none);
	cursor: pointer;
	&.active {
		color: rgba($banner-color, 1);
		background-color: rgba($banner-color, 0.2);
	}
	&:hover {
		color: rgba($banner-color, 0.7);
	}
	&:active {
		color: rgba($banner-color, 0.8);
	}
}

.page-number-text {
	font-family: "Montserrat";
	font-weight: 300;
	font-size: 1.3em;
}
