@import "../colors.scss";

.paginator-wrapper {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	z-index: 1;
	display: flex;
	justify-content: center;
}

.paginator {
	width: 140px;
	padding: 8px 60px;
	z-index: 1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
	background-color: white;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.8);
}

.page-list {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
