@import "../colors.scss";

.side-panel {
	width: 300px;
	height: 480px;
	margin-top: 20px;
	z-index: 5;
	position: absolute;
	background-color: white;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow-y: auto;
	overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
	.side-panel {
		width: 300px;
		height: 100vh;
		max-width: calc(100vw - 50px);
		z-index: 5;
		position: absolute;
		top: 0;
		left: -300px;
		margin: 0;
		border-radius: 0;
		background-color: white;
		overflow-y: auto;
		overflow-x: hidden;
		transition-property: left, box-shadow;
	}
	.side-panel-expanded {
		left: 0px;
		box-shadow: -5px 1px 8px 3px rgba($color: black, $alpha: 0.8);
	}
}

.side-panel-content {
	padding: 20px;
	overflow-x: hidden;
}

.side-panel-tabs {
	display: flex;
	flex-flow: row nowrap;
}

.category-tab {
	position: relative;
	left: -300px;
	transition-property: left;
	min-width: 260px;
	&.active {
		position: relative;
		left: 0px;
	}
}

.history-tab {
	position: absolute;
	left: 300px;
	transition-property: left;
	min-width: 280px;
	max-width: 280px;
	max-height: calc(100% - 72px);
	overflow-y: auto;
	&.active {
		position: absolute;
		left: 20px;
	}
}

.tab-title {
	margin-bottom: 20px;
	color: rgba(20, 20, 20, 0.9);
}

button {
	background: none;
	border: none;
	outline: none;
}

/* Removing ugly borders firefox puts around focused buttons */
button::-moz-focus-inner {
	border: 0;
}

.button {
	border: none;
	border-radius: 4px;
	background-color: $banner-color;
	color: white;
	padding: 5px 7px;
	font-family: "Montserrat";
	font-size: 0.9em;
	font-weight: 500;
	cursor: pointer;
	&:hover {
		background-color: darken($color: $banner-color, $amount: 8%);
	}
	&:active {
		background-color: darken($color: $banner-color, $amount: 12%);
	}
	&:focus {
		outline: none;
	}
	&:disabled {
		cursor: default;
		background-color: rgba(210, 210, 210, 0.8);
		opacity: 0.5;
	}
}
