@import "../colors.scss";

.sidepanel-button-wrapper {
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	display: flex;
	align-items: center;
	transition-property: left;
}

.sidepanel-button-wrapper-open {
	left: 300px;
}

.sidepanel-button {
	width: 50px;
	height: 40px;
	z-index: 4;
	background-color: rgba($banner-color, 0.5);
	color: white;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
		background-color: rgba($banner-color, 0.4);
		cursor: pointer;
	}
	&:active {
		background-color: rgba($banner-color, 0.3);
	}
}

.icon-flipped {
	transform: rotate(180deg);
}

.dark-sidepanel-background {
	position: absolute;
	top: 0;
	bottom: -20vh;
	left: 0;
	right: 0;
	z-index: 2;
	// width: 100vw;
	// max-width: 100vw;
	// height: 100vh;
	// max-height: 100vh;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1200px) {
	.sidepanel-button,
	.sidepanel-button-wrapper {
		display: none;
	}
}
