@import "../colors.scss";
@import "../mixins.scss";

.tabs-wrapper {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.tabs {
	width: 180px;
	overflow: hidden;
	display: flex;
	flex-flow: row nowrap;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(120, 120, 120, 0.3);
	@include user-select(none);
}

.tab {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 90px;
	opacity: 0.7;
	transition-property: color, opacity;
	text-align: center;
	font-size: 0.7em;
	font-weight: 600;
	font-family: "Montserrat";
	cursor: pointer;
	&:hover {
		background-color: rgba($color: $banner-color, $alpha: 0.1);
	}
	&:active {
		background-color: rgba($color: $banner-color, $alpha: 0.2);
	}
}

.tab-active {
	background-color: white;
	color: $banner-color;
	opacity: 1;
}

.tab-indicator {
	position: relative;
	bottom: 1px;
	left: 0;
	height: 1px;
	width: 90px;
	background-color: rgba($color: $banner-color, $alpha: 0.9);
	transition-property: left;
	&.right {
		left: 90px;
	}
}
