@import "./text.scss";
@import "./colors.scss";

* {
	transition-timing-function: cubic-bezier(0.28, 0.61, 0.41, 0.94);
	transition-duration: 0.3s;
	transition-property: none;
}

.App {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	transition-property: width;
}

.header {
	background-color: $banner-color;
	color: white;

	width: calc(100% - 40px);
	padding: 20px 20vw;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	// This is a Sassy way of doing .header h1 {}
	h1 {
		color: white;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

@media screen and (max-width: 1200px) {
	.header {
		padding: 20px 20px;
		height: 1vh;
		h1 {
			font-size: 1.4em;
		}
	}
}
