@import "./colors.scss";

.base-container {
	background-color: rgba($color: $banner-color, $alpha: 0.2);
	height: 100%;
}

.main-container {
	height: calc(100vh - 100px);
	max-height: 100%;
	overflow: hidden;
	padding: 20px 20vw {
		bottom: 0;
	}
}

.content {
	background-color: white;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	min-height: calc(100% - 60px);
	max-height: calc(100% - 60px);
	overflow: auto;
	padding: 20px {
		bottom: 40px;
	}
}

.loaded-content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: " image text ";
}

.content-image-sound {
	text-align: center;
	> * {
		width: 100%;
		display: inline-block;
	}
}

.content-image {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 20px;
	svg {
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
	}
}

.content-text {
	padding: 20px;
}

.content-text-block {
	border-radius: 2px;
	background-color: rgba($banner-color, 0.05);
	padding: 10px;
	margin: {
		left: 10px;
		top: 10px;
		bottom: 10px;
	}

	overflow: hidden;
	white-space: pre-wrap;
	text-align: left;
	//max-height: 100px;
	overflow-y: auto;
}

.content-text-title {
	font-weight: 600;
}

.content-text-credits {
	width: calc(100% - 40px);
	margin-left: 40px;

	overflow: hidden;
	white-space: normal;

	color: rgba(black, 0.7);
	font-style: italic;
	font-weight: 400;
	font-size: 0.9em;
	text-align: right;
}

.audio-wrapper {
	display: flex;
	justify-content: center;
}

.content-sound {
	audio {
		border-radius: 6px;
	}
	margin: {
		bottom: 10px;
	}
}

@media screen and (max-width: 1200px) {
	.main-container {
		height: calc(100vh - 66px);
		padding: 20px {
			bottom: 0;
		}
	}

	.loaded-content {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 2fr auto;
		grid-template-areas:
			" image "
			" text ";
	}
}
