@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Raleway:400,400i,500,500i,600,600i,700,700i&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat";
}

p,
span,
div {
	font-family: "Raleway";
}
